In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_ethiopia = pd.read_excel(r'alldatasets.xlsx',sheet_name='Ethiopia')

In [3]:
df_ethiopia.head()

,childid,country,height,stunting_2cat,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,chsexr1,agemonr1,hhsizer1,wi_newr1,job_cat,pvt_sector,earn,earn_usd
0,ET011003,Ethiopia,157.0,0.0,16.5,1.379536,15.0,9.0,12.0,0,99,7,0.524603,5,1,2000.0,92.032104
1,ET011004,Ethiopia,174.0,NaN,10.0,-0.092591,30.0,10.0,6.0,1,90,8,0.473611,3,1,32000.0,1472.513672
2,ET011009,Ethiopia,155.0,0.0,12.5,1.785974,30.0,14.0,8.0,0,90,13,0.562821,5,1,7000.0,322.112366
3,ET011010,Ethiopia,153.5,0.0,12.0,1.803539,30.0,NaN,NaN,0,91,3,0.320370,5,1,3600.0,165.657791
4,ET011014,Ethiopia,169.0,0.0,10.0,0.893750,45.0,3.0,0.0,1,99,6,0.409259,3,1,43200.0,1987.893433

In [4]:
df_ethiopia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   childid        603 non-null    object
 1   country        603 non-null    object
 2   height         603 non-null    float64
 3   stunting_2cat  580 non-null    float64
 4   EDUYRS2        603 non-null    float64
 5   z_score        577 non-null    float64
 6   timeschool     559 non-null    float64
 7   agegapr1       451 non-null    float64
 8   momeduyrsr1    554 non-null    float64
 9   chsexr1        603 non-null    int64
 10  agemonr1       603 non-null    int64
 11  hhsizer1       603 non-null    int64
 12  wi_newr1       602 non-null    float64
 13  job_cat        603 non-null    int64
 14  pvt_sector     603 non-null    int64
 15  earn           603 non-null    float64
 16  earn_usd       603 non-null    float64
dtypes: float64(10), int64(5), object(2)
memory usage: 80.2+ KB

In [5]:
df_ethiopia.describe()

,height,stunting_2cat,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,chsexr1,agemonr1,hhsizer1,wi_newr1,job_cat,pvt_sector,earn,earn_usd
count,603.000000,580.000000,603.000000,577.000000,559.000000,451.000000,554.000000,603.000000,603.000000,603.000000,602.000000,603.000000,603.0,6.030000e+02,603.000000
mean,166.139635,0.337931,8.400498,-0.164265,25.661896,10.558758,1.833032,0.573798,94.600332,6.563847,0.196195,2.986733,1.0,1.047621e+04,482.073982
std,8.442522,0.473413,3.000285,0.977300,19.085879,6.511732,3.036042,0.494934,3.537338,2.121043,0.167434,1.859649,0.0,1.519247e+05,6990.973777
min,145.000000,0.000000,0.000000,-2.249418,0.000000,0.000000,0.000000,0.000000,89.000000,2.000000,0.005051,1.000000,1.0,-7.700000e+01,-3.543236
25%,160.000000,0.000000,7.000000,-0.880347,10.000000,6.000000,0.000000,0.000000,92.000000,5.000000,0.073859,1.000000,1.0,0.000000e+00,0.000000
50%,167.000000,0.000000,10.000000,-0.162149,20.000000,10.000000,0.000000,1.000000,94.000000,7.000000,0.168353,2.000000,1.0,8.000000e+02,36.812840
75%,172.349998,1.000000,10.000000,0.531608,30.000000,13.000000,3.000000,1.000000,97.000000,8.000000,0.294444,5.000000,1.0,3.212500e+03,147.826561
max,190.000000,1.000000,16.500000,2.766137,100.000000,46.000000,16.500000,1.000000,102.000000,16.000000,0.757143,6.000000,1.0,3.728000e+06,171547.843800

In [6]:
df_ethiopia=df_ethiopia.astype({"chsexr1": 'object', "job_cat": 'object', "pvt_sector": 'object',"stunting_2cat": 'object'})

In [7]:
df_ethiopia.dtypes

childid           object
country           object
height           float64
stunting_2cat     object
EDUYRS2          float64
z_score          float64
timeschool       float64
agegapr1         float64
momeduyrsr1      float64
chsexr1           object
agemonr1           int64
hhsizer1           int64
wi_newr1         float64
job_cat           object
pvt_sector        object
earn             float64
earn_usd         float64
dtype: object

In [8]:
df_outlier=df_ethiopia.copy()

In [9]:
df_outlier.dtypes

childid           object
country           object
height           float64
stunting_2cat     object
EDUYRS2          float64
z_score          float64
timeschool       float64
agegapr1         float64
momeduyrsr1      float64
chsexr1           object
agemonr1           int64
hhsizer1           int64
wi_newr1         float64
job_cat           object
pvt_sector        object
earn             float64
earn_usd         float64
dtype: object

In [10]:
total = df_outlier.isnull().sum().sort_values(ascending=False)
percent = (df_outlier.isnull().sum()/df_outlier.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])
missing_data['Missing Percent'] = missing_data['Missing Percent'].apply(lambda x: x * 100)
missing_data.loc[missing_data['Missing Percent'] > 95]

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [11]:
df_outlier=df_outlier.select_dtypes(include=['int64','floating'])

In [12]:
df_outlier.dtypes

height         float64
EDUYRS2        float64
z_score        float64
timeschool     float64
agegapr1       float64
momeduyrsr1    float64
agemonr1         int64
hhsizer1         int64
wi_newr1       float64
earn           float64
earn_usd       float64
dtype: object

In [13]:
import warnings

warnings.filterwarnings('ignore')

In [14]:
df_outlier.dtypes

height         float64
EDUYRS2        float64
z_score        float64
timeschool     float64
agegapr1       float64
momeduyrsr1    float64
agemonr1         int64
hhsizer1         int64
wi_newr1       float64
earn           float64
earn_usd       float64
dtype: object

In [15]:
#sns.pairplot(df_outlier)

# Outlier Cappping

In [16]:
def cap_data(df):
    for col in df.columns:
        print("capping the ",col)
        if (((df[col].dtype)=='float64') | ((df[col].dtype)=='int64') | ((df[col].dtype)=='float32')):
            percentiles = df[col].quantile([0.01,0.99]).values
            df[col][df[col] <= percentiles[0]] = percentiles[0]
            df[col][df[col] >= percentiles[1]] = percentiles[1]
        else:
            df[col]=df[col]
    return df

In [17]:
final_df=cap_data(df_outlier)

capping the  height
capping the  EDUYRS2
capping the  z_score
capping the  timeschool
capping the  agegapr1
capping the  momeduyrsr1
capping the  agemonr1
capping the  hhsizer1
capping the  wi_newr1
capping the  earn
capping the  earn_usd

In [18]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

In [19]:
df_ethiopia=df_ethiopia.drop(['childid','country'],axis=1)

In [20]:
all_category_features=df_ethiopia.select_dtypes(include='object')

In [21]:
all_category_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   stunting_2cat  580 non-null    object
 1   chsexr1        603 non-null    object
 2   job_cat        603 non-null    object
 3   pvt_sector     603 non-null    object
dtypes: object(4)
memory usage: 19.0+ KB

# KNN for Categories

In [22]:
mm = MinMaxScaler()

def find_category_mappings(df, variable):
    return {k: i for i, k in enumerate(df[variable].dropna().unique(), 0)}

def integer_encode(df , variable, ordinal_mapping):
    df[variable] = df[variable].map(ordinal_mapping)

mappin = dict()
def imputation(df1 , cols):
    df = df1.copy()
    #Encoding dict &amp; Removing nan    
    #mappin = dict()
    for variable in cols:
        mappings = find_category_mappings(df, variable)
        mappin[variable] = mappings

    #Apply mapping
    for variable in cols:
        integer_encode(df, variable, mappin[variable])  

    #Minmaxscaler and KNN imputation 
    sca = mm.fit_transform(df)
    knn_imputer = KNNImputer()
    knn = knn_imputer.fit_transform(sca)
    df.iloc[:,:] = mm.inverse_transform(knn)
    for i in df.columns : 
        df[i] = round(df[i]).astype('int')

    #Inverse transform
    for i in cols:
        inv_map = {v: k for k, v in mappin[i].items()}
        df[i] = df[i].map(inv_map)
    return df

In [23]:
df_cat_imp=imputation(all_category_features,['stunting_2cat','chsexr1','job_cat','pvt_sector'])

In [24]:
df_cat_imp.isnull().sum().sort_values(ascending = False)

pvt_sector       0
job_cat          0
chsexr1          0
stunting_2cat    0
dtype: int64

In [25]:
df_cat_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   stunting_2cat  603 non-null    float64
 1   chsexr1        603 non-null    int64
 2   job_cat        603 non-null    int64
 3   pvt_sector     603 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 19.0 KB

In [26]:
#df_cat_imp.to_csv(r'C:\Users\rramr\OneDrive\Desktop\Modern Scientist Global\Peru\df_knn_before.csv', encoding='utf-8', index=True)

In [27]:
#all_category_features=df_et.select_dtypes(include='o')

In [28]:
#cat_dummies = pd.get_dummies(all_category_features, dummy_na=True)
#cat_dummies.head()

# KNN for numerics

In [29]:
df_knn=final_df.copy()

In [30]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_num_imp = pd.DataFrame(imputer.fit_transform(df_knn),columns = df_knn.columns)

In [31]:
df_num_imp.head()

,height,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,agemonr1,hhsizer1,wi_newr1,earn,earn_usd
0,157.0,12.5,1.379536,15.0,9.0,12.0,99.0,7.0,0.524603,2000.0,92.032104
1,174.0,10.0,-0.092591,30.0,10.0,6.0,90.0,8.0,0.473611,32000.0,1472.513672
2,155.0,12.5,1.785974,30.0,14.0,8.0,90.0,12.0,0.562821,7000.0,322.112366
3,153.5,12.0,1.803539,30.0,16.2,1.4,91.0,3.0,0.320370,3600.0,165.657791
4,169.0,10.0,0.893750,45.0,3.0,0.0,99.0,6.0,0.409259,43200.0,1987.893433

In [32]:
df_outlier_concat = pd.concat([df_num_imp, df_cat_imp], axis=1)
df_outlier_concat.head()

,height,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,agemonr1,hhsizer1,wi_newr1,earn,earn_usd,stunting_2cat,chsexr1,job_cat,pvt_sector
0,157.0,12.5,1.379536,15.0,9.0,12.0,99.0,7.0,0.524603,2000.0,92.032104,0.0,0,5,1
1,174.0,10.0,-0.092591,30.0,10.0,6.0,90.0,8.0,0.473611,32000.0,1472.513672,0.0,1,3,1
2,155.0,12.5,1.785974,30.0,14.0,8.0,90.0,12.0,0.562821,7000.0,322.112366,0.0,0,5,1
3,153.5,12.0,1.803539,30.0,16.2,1.4,91.0,3.0,0.320370,3600.0,165.657791,0.0,0,5,1
4,169.0,10.0,0.893750,45.0,3.0,0.0,99.0,6.0,0.409259,43200.0,1987.893433,0.0,1,3,1

In [33]:
df_outlier_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   height         603 non-null    float64
 1   EDUYRS2        603 non-null    float64
 2   z_score        603 non-null    float64
 3   timeschool     603 non-null    float64
 4   agegapr1       603 non-null    float64
 5   momeduyrsr1    603 non-null    float64
 6   agemonr1       603 non-null    float64
 7   hhsizer1       603 non-null    float64
 8   wi_newr1       603 non-null    float64
 9   earn           603 non-null    float64
 10  earn_usd       603 non-null    float64
 11  stunting_2cat  603 non-null    float64
 12  chsexr1        603 non-null    int64
 13  job_cat        603 non-null    int64
 14  pvt_sector     603 non-null    int64
dtypes: float64(12), int64(3)
memory usage: 70.8 KB

In [34]:
df_outlier_concat=df_outlier_concat.astype({"stunting_2cat": 'int64'})

In [35]:
df_outlier_concat.head()

,height,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,agemonr1,hhsizer1,wi_newr1,earn,earn_usd,stunting_2cat,chsexr1,job_cat,pvt_sector
0,157.0,12.5,1.379536,15.0,9.0,12.0,99.0,7.0,0.524603,2000.0,92.032104,0,0,5,1
1,174.0,10.0,-0.092591,30.0,10.0,6.0,90.0,8.0,0.473611,32000.0,1472.513672,0,1,3,1
2,155.0,12.5,1.785974,30.0,14.0,8.0,90.0,12.0,0.562821,7000.0,322.112366,0,0,5,1
3,153.5,12.0,1.803539,30.0,16.2,1.4,91.0,3.0,0.320370,3600.0,165.657791,0,0,5,1
4,169.0,10.0,0.893750,45.0,3.0,0.0,99.0,6.0,0.409259,43200.0,1987.893433,0,1,3,1

In [36]:
df_knn_imp=df_outlier_concat.copy()

In [37]:
import statsmodels.api as sm

# cognition

In [38]:
#cognition

X = df_knn_imp["stunting_2cat"] ## X usually means our input variables (or independent variables)
y = df_knn_imp["z_score"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                z_score   R-squared:                       0.029
Model:                            OLS   Adj. R-squared:                  0.028
Method:                 Least Squares   F-statistic:                     18.13
Date:                Mon, 10 May 2021   Prob (F-statistic):           2.39e-05
Time:                        13:20:30   Log-Likelihood:                -816.87
No. Observations:                 603   AIC:                             1638.
Df Residuals:                     601   BIC:                             1647.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.0655      0.047     -1.401      0.162      -0.157       0.026
stunting_2cat    -0.3464      0.081     -4.258      0.000      -0.506      -0.187
==============================================================================
Omnibus:                       15.710   Durbin-Watson:                   1.515
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                8.348
Skew:                           0.046   Prob(JB):                       0.0154
Kurtosis:                       2.431   Cond. No.                         2.41
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# height

In [39]:
#Height

X = df_knn_imp["stunting_2cat"] ## X usually means our input variables (or independent variables)
y = df_knn_imp["height"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 height   R-squared:                       0.052
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     33.18
Date:                Mon, 10 May 2021   Prob (F-statistic):           1.34e-08
Time:                        13:20:30   Log-Likelihood:                -2118.9
No. Observations:                 603   AIC:                             4242.
Df Residuals:                     601   BIC:                             4251.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           167.4842      0.405    413.630      0.000     166.689     168.279
stunting_2cat    -4.0599      0.705     -5.760      0.000      -5.444      -2.676
==============================================================================
Omnibus:                       23.862   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               11.152
Skew:                          -0.073   Prob(JB):                      0.00379
Kurtosis:                       2.350   Cond. No.                         2.41
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# education

In [40]:
#education

X = df_knn_imp["stunting_2cat"] ## X usually means our input variables (or independent variables)
y = df_knn_imp["EDUYRS2"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                EDUYRS2   R-squared:                       0.037
Model:                            OLS   Adj. R-squared:                  0.036
Method:                 Least Squares   F-statistic:                     23.26
Date:                Mon, 10 May 2021   Prob (F-statistic):           1.79e-06
Time:                        13:20:30   Log-Likelihood:                -1493.1
No. Observations:                 603   AIC:                             2990.
Df Residuals:                     601   BIC:                             2999.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             8.7772      0.143     61.188      0.000       8.496       9.059
stunting_2cat    -1.2044      0.250     -4.823      0.000      -1.695      -0.714
==============================================================================
Omnibus:                       35.311   Durbin-Watson:                   1.572
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               38.185
Skew:                          -0.590   Prob(JB):                     5.11e-09
Kurtosis:                       2.643   Cond. No.                         2.41
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# cognition covariates

In [41]:
X = df_knn_imp[["stunting_2cat",'agemonr1','chsexr1','agegapr1','momeduyrsr1','hhsizer1','wi_newr1']] ## X usually means our input variables (or independent variables)
y = df_knn_imp["z_score"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                z_score   R-squared:                       0.232
Model:                            OLS   Adj. R-squared:                  0.223
Method:                 Least Squares   F-statistic:                     25.61
Date:                Mon, 10 May 2021   Prob (F-statistic):           1.16e-30
Time:                        13:20:31   Log-Likelihood:                -746.43
No. Observations:                 603   AIC:                             1509.
Df Residuals:                     595   BIC:                             1544.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.0820      0.928     -0.088      0.930      -1.904       1.740
stunting_2cat    -0.2254      0.074     -3.055      0.002      -0.370      -0.081
agemonr1         -0.0065      0.010     -0.668      0.504      -0.026       0.013
chsexr1           0.2504      0.069      3.604      0.000       0.114       0.387
agegapr1          0.0066      0.006      1.069      0.285      -0.006       0.019
momeduyrsr1       0.0099      0.013      0.754      0.451      -0.016       0.036
hhsizer1         -0.0148      0.017     -0.888      0.375      -0.047       0.018
wi_newr1          2.3500      0.231     10.161      0.000       1.896       2.804
==============================================================================
Omnibus:                        4.789   Durbin-Watson:                   1.891
Prob(Omnibus):                  0.091   Jarque-Bera (JB):                3.608
Skew:                           0.051   Prob(JB):                        0.165
Kurtosis:                       2.635   Cond. No.                     2.59e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.59e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Height covariates

In [42]:
X = df_knn_imp[["stunting_2cat",'agemonr1','chsexr1','agegapr1','momeduyrsr1','hhsizer1','wi_newr1']] ## X usually means our input variables (or independent variables)
y = df_knn_imp["height"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 height   R-squared:                       0.538
Model:                            OLS   Adj. R-squared:                  0.532
Method:                 Least Squares   F-statistic:                     98.84
Date:                Mon, 10 May 2021   Prob (F-statistic):           2.14e-95
Time:                        13:20:31   Log-Likelihood:                -1902.5
No. Observations:                 603   AIC:                             3821.
Df Residuals:                     595   BIC:                             3856.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           152.8037      6.311     24.212      0.000     140.409     165.198
stunting_2cat    -4.1725      0.502     -8.317      0.000      -5.158      -3.187
agemonr1          0.0696      0.067      1.046      0.296      -0.061       0.200
chsexr1          11.6458      0.473     24.646      0.000      10.718      12.574
agegapr1         -0.0330      0.042     -0.785      0.433      -0.116       0.050
momeduyrsr1       0.0839      0.089      0.938      0.349      -0.092       0.260
hhsizer1          0.2268      0.113      2.007      0.045       0.005       0.449
wi_newr1          0.8154      1.573      0.518      0.604      -2.274       3.905
==============================================================================
Omnibus:                        0.590   Durbin-Watson:                   2.061
Prob(Omnibus):                  0.745   Jarque-Bera (JB):                0.691
Skew:                           0.036   Prob(JB):                        0.708
Kurtosis:                       2.851   Cond. No.                     2.59e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.59e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# education covariates

In [43]:
X = df_knn_imp[["stunting_2cat",'agemonr1','chsexr1','agegapr1','momeduyrsr1','hhsizer1','wi_newr1']] ## X usually means our input variables (or independent variables)
y = df_knn_imp["EDUYRS2"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                EDUYRS2   R-squared:                       0.219
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     23.89
Date:                Mon, 10 May 2021   Prob (F-statistic):           1.07e-28
Time:                        13:20:31   Log-Likelihood:                -1429.9
No. Observations:                 603   AIC:                             2876.
Df Residuals:                     595   BIC:                             2911.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            10.7260      2.882      3.721      0.000       5.065      16.386
stunting_2cat    -0.8260      0.229     -3.605      0.000      -1.276      -0.376
agemonr1         -0.0333      0.030     -1.097      0.273      -0.093       0.026
chsexr1          -0.6439      0.216     -2.984      0.003      -1.068      -0.220
agegapr1          0.0124      0.019      0.644      0.520      -0.025       0.050
momeduyrsr1       0.0994      0.041      2.434      0.015       0.019       0.180
hhsizer1         -0.0188      0.052     -0.365      0.715      -0.120       0.083
wi_newr1          6.4342      0.718      8.956      0.000       5.023       7.845
==============================================================================
Omnibus:                       21.650   Durbin-Watson:                   1.854
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.123
Skew:                          -0.467   Prob(JB):                     9.53e-06
Kurtosis:                       2.779   Cond. No.                     2.59e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.59e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""